{"source_table": "copy-test-src", "destination_table": "copy-test-dst", "source_profile": "global", "destination_profile": "global", "destination_table_staging_read_capacity": 10, "destination_table_staging_write_capacity": 1000, "destination_table_ultimate_read_capacity": 10, "destination_table_ultimate_write_capacity": 10, "copy_mode": true}
